@import "variables";
@import "mixins";
@import "resets";

html, body {
    font-size: 16px;
}

body {
    background: black;
    color: white;
    font-family: Arial;
}

header {
    width: 100%;
    min-height: 100px;
    background: blue;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    min-height: 100px;
    background: green;
}