@import "variables";
@import "mixins";
@import "resets";

html, body {
  font-size: 16px;
}

body {
  background: black;
  color: white;
  font-family: Arial;
}

a {
  color: #FFF;
}

header {
  width: 100%;
  min-height: 150px;
  background: linear-gradient(blue, #000);
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  min-height: 150px;
  background: linear-gradient(#000, green);
}
