@import "variables";
@import "mixins";
@import "resets";

html, body {
  font-size: 16px;
}

body {
  background: white;
  color: black;
  font-family: Arial;
}

ul.no-list {
  list-style-type: none;
  padding: 0;
}

%content_wrapper {
  width: 100%;
  max-width: $content-width-max;
  display: block;
  margin: 0 auto;
  padding: 1rem;
}

header {
  width: 100%;
  min-height: 9rem;
  background: #EEEEEE;

  .header-content-wrapper {
    @extend %content_wrapper;
  }
}

.content-body-wrapper {
  @extend %content_wrapper;
  padding: 2rem;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  min-height: 9rem;
  background: #666666;
  color: white;
  font-size: .8rem;

  .footer-content-wrapper {
    @extend %content_wrapper;
  }
}

header, footer {
  padding: 1rem;
}
