<!doctype html>
<html>
<head>
  <!-- Metadata -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
  
  <!-- Vendor JS -->
  <script type="text/javascript" src="assets/js/jquery-3.4.1.min.js"></script>
  
  <!-- Custom JS -->
  <script type="text/javascript" src="assets/js/bundle.js"></script>
</head>

<body>
{{> header}}
{{> body}}
{{> footer}}
</body>
</html>
